<h1>Haha Index Page</h1>

<% if user_signed_in? %>
  <h4><%= current_user.username %></h4>
<% end %>

<% top_vote_article = Article.find(Vote.group(:article_id).count.max[0]) %>
<!-- <image src="<%=(url_for(top_vote_article.image))%>"> -->


<div>
  <div class="top-image" style="background-image: url(<%=(url_for(top_vote_article.image)) %>); height: 500px">
    <p><%= top_vote_article.title %></p>
  </div>
</div>
<br>
<div class="container-box">
  <% Category.all.each do |pr| %>
    <a href="<%= category_path(pr) %>">
      <div class="category-title"><%= pr.name %>
        <% if !pr.articles.order(created_at: :desc).first.nil? %>
          <p id="tor"><%= pr.articles.order(created_at: :desc).first.title %></p>
        <% end %>
      </div>
    </a>
  <% end %>
</div>