<nav class="nav-bar navbar">
  <span class="logo">
    <%= link_to 'MAC FORUM', root_path, class: "navbar-brand", id: "black-color" %>
  </span>

  <span class="mid-nav">
    <%= link_to 'HOME', root_path, class: "mr-2", id: "orange-color" %>
    <%= link_to 'WRITE AN ARTICLE', new_article_path %>
    <% if user_signed_in? and current_user.adminn? %>
      <%= link_to 'CREATE CATEGORY', new_category_path, class: "ml-1" %>
    <% end %>
  </span>

  <span class="right-nav">
    <% if !user_signed_in? %>
      <%= link_to 'LOGIN', new_user_session_path %> |
      <%= link_to 'REGISTER', new_user_registration_path %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
    <% end %>
  </span>
</nav>